/vendor
/node_modules
/public/bower_components
/public/dist/css
/public/dist/js
/public/dist/views
/public/dist/images
/public/exports/**
/public/images/employeesPhotos/**
/public/tributationDocuments/104/**
/storage/companiesFiles/**
/public/companiesFiles/**
/.idea/
.idea
.env
.env.example
.phpintel
.DS_Store
*.lock
