<ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Recursos Humanos</a></li>
  <li><a href="javascript:;">Resumen de Liquidaciones</a></li>
</ol>
<h1 class="page-header">Resumen de Liquidaciones</h1>

<div class="panel panel-inverse animated fadeInRight" data-sortable-id="form-plugins-9">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">Resumen de Liquidaciones</h4>
  </div>
  <div class="panel-body" ng-controller="RolLiquidationCtrl">
    <table datatable="ng" class="table-condensed">
      <thead>
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th># Empleados</th>
        <th>Monto Total ($)</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="paymenthroles in resumenpaymenthrolesLiq track by $index"  class="cursorPointer" ng-click="openLiquidarModal(paymenthroles.DatePreLiq,paymenthroles.Mes, paymenthroles.Tipo,'Liq')" ng-controller="liquidationSelectionCtrl">
        <td>{{ $index+1 }}</td>
        <td>{{ paymenthroles.Fecha}}</td>
        <td>{{ paymenthroles.Cantidad}}</td>
        <td>{{ paymenthroles.Total | currency}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div> 