<ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Recursos Humanos</a></li>
  <li><a href="javascript:;">Resumen de Liquidaciones</a></li>
</ol>
<h1 class="page-header">Resumen de Liquidaciones</h1>

<div class="panel panel-inverse animated fadeInRight" data-sortable-id="form-plugins-9">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">Resumen de Liquidaciones</h4>
  </div>
  <div class="panel-body">
  </div>
</div> 