<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title">Rol de Pago</h3>
    </div>
    <div class="modal-body">
        <div>Nombre Empleado</div>
        <br/>
        <div>Mes</div>
        <br/>
        <table datatable="ng" class="table-condensed">
            <thead>
            <tr>
                <th>Ingresos</th>
                <th>Egresos</th>
            </tr>
            </thead>
            <tbody>
            <tr class="cursorPointer">
                <td>Sueldo Bruto</td><td>IESS Personal</td>
            </tr>
            <tr class="cursorPointer">
                <td>Bonos</td><td>Descuentos</td>
            </tr>
            <tr class="cursorPointer">
                <td>Comisiones</td><td>Anticipos</td>
            </tr>
            <tr class="cursorPointer">
                <td>Fondo de Reserva</td><td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        Total: $
    </div>
</div>