<div class="inmodal">
    <div class="modal-header">
        <h3 class="modal-title">Liquidacion {{typeSettlement}} {{monthSettlement}} {{sinceDate}} {{untilDate}}</h3>
    </div>
    <div class="modal-body">
        <table datatable="ng" class="table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Departamento</th>
                <th>Sueldo Bruto</th>
                <th>Bonos</th>
                <th>Comisiones</th>
                <th>Fondo de Reserva</th>
                <th>IEES Personal</th>
                <th>Descuentos</th>
                <th>Anticipos</th>
                <th>Total Ingresos</th>
                <th>Total Descuentos</th>
                <th>A PAGAR</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employe in employeSelections track by $index"  class="cursorPointer">
                <td>{{ $index+1 }}</td>
                <td>{{ employe.names}}</td>
                <td>{{ employe.department.name }}</td>
                <td>{{ employe.grossSalary | currency}}</td>
                <td>{{ addBonus(employe.bonus) | currency}}</td>
                <td>{{ 0 | currency}}</td>
                <td>{{ ReserveFund(employe) | currency}}</td>
                <td>{{ LessPersonal(employe) | currency}}</td>
                <td>{{ addDiscount(employe.discounts) | currency }}</td>
                <td>{{ 0 | currency }}</td>
                <td>{{ revenues(employe) | currency  }}</td>
                <td>{{ discounts(employe) | currency}}</td>
                <td>{{ totalToPay(employe) | currency }}</td>
            </tr>
            <tr>
                <td colspan="3">TOTAL</td>
                <td>{{ totalSalary() | currency }}</td>
                <td>{{ totalBonus() | currency }}</td>
                <td>{{ 0 | currency}}</td>
                <td>{{ totalReserveFund() | currency }}</td>
                <td>{{ totalLessPersonal() | currency}}</td>
                <td>{{ totalDiscounts() | currency}}</td>
                <td>{{ 0 | currency}}</td>
                <td>{{ totalRevenues() | currency}}</td>
                <td>{{ totalExpenditures() | currency}}</td>
                <td>{{ totalToPayG() | currency}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-click="savePreLiquidar()" ng-disabled="!employeSelections">Liquidar</button>
        <button class="btn btn-primary btn-sm" ng-click="savePreLiquidarTemp()" ng-disabled="!employeSelections">Guardar</button>
        <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancelar</button>
    </div>
</div>