<ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Configuraci&oacute;n</a></li>
  <li><a href="javascript:;">Bancos</a></li>
</ol>
<h1 class="page-header">Bancos</h1>

<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="panel panel-inverse animated fadeInRight" data-sortable-id="form-plugins-9">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
        <h4 class="panel-title" ng-show="!isUpdate">Nuevo Banco</h4>
        <h4 class="panel-title" ng-show="isUpdate">Actualizar Banco</h4>
      </div>
      <div class="panel-body">
          <form ng-submit="save(bankForm.$valid)" novalidate="novalidate" name="bankForm">
          <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group" ng-class="{ 'has-error' : bankForm.name.$invalid && bankForm.$submitted}">
                <label class="control-label"><u>N</u>ombre Banco</label>
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" ng-model="newBank.name" ng-required="true"  id="name"  name="name" tabindex="1">
                  <span class="input-group-addon"><i class="fa fa-university"></i></span>
                </div>
                    <p ng-show="bankForm.name.$invalid && bankForm.$submitted" class="help-block">Campo Obligatorio</p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group" ng-class="{ 'has-error' : bankForm.code.$invalid && bankForm.$submitted}">
                <label class="control-label"><u>C</u>&oacute;digo Banca Virtual</label>
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" ng-model="newBank.code" ng-required="true" id="code" name="code" tabindex="2" number>
                  <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
                    <p ng-show="bankForm.code.$invalid && bankForm.$submitted" class="help-block">Campo Obligatorio</p>
              </div>
            </div>

          </div>
          <div class="btn-group">
            <input type="submit" class="btn btn-primary btn-sm" value="Guardar" id="save" ng-disabled="serverProcess" tabindex="3" ng-show="!isUpdate"/>
            <input type="submit" class="btn btn-primary btn-sm" value="Actualizar" id="update" ng-disabled="serverProcess" tabindex="4" ng-show="isUpdate"/>
            <input type="reset" class="btn btn-white btn-sm" value="Limpiar" id="clean" ng-disabled="serverProcess" tabindex="5" ng-click="clean()">
          </div>
        </form>
      </div>
    </div>
  </div> 
  <div class="col-lg-6 col-md-6">
    <div class="panel panel-inverse animated fadeInRight" data-sortable-id="form-plugins-9">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
        <h4 class="panel-title">Resumen Bancos</h4>
      </div>
      <div class="panel-body">
        <table datatable="ng" class="table-hover table-condensed">
          <thead>
            <tr>
              <th width="15px"></th>
              <th>Nombre</th>
              <th>C&oacute;digo Banca Virtual</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bank in banks" ng-click="selectBank(bank)">
              <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="delete($index)" id="delete">
                <span class="glyphicon glyphicon-minus"></span>
                </button>
              </td>
              <td>{{bank.name}}</td>
              <td>{{bank.code}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>     
</div>