<div ng-controller="MassiveArrearsLoadCtrl">

        <fieldset>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group" >
                        <label class="control-label"><u>M</u>es</label>
                        <div class="input-group input-group-sm">
                            <select class="form-control" placeholder="" ng-model="monthSearch" ng-required="true" id="monthSearch" name="monthSearch"
                                    ng-change="searchMonth()" tabindex="21">
                                <option value=""></option>
                                <option value="January">Enero</option>
                                <option value="February">Febrero</option>
                                <option value="March">Marzo</option>
                                <option value="April">Abril</option>
                                <option value="May">Mayo</option>
                                <option value="June">Junio</option>
                                <option value="July">Julio</option>
                                <option value="August">Agosto</option>
                                <option value="September">Septiembre</option>
                                <option value="October">Octubre</option>
                                <option value="November">Noviembre</option>
                                <option value="December">Diciembre</option>
                            </select>
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                        </div>
                    </div>
                </div>
                <div>
        </fieldset>
        <div class='form-group'>
            <input type="file" name="excel_file" accept=".xlsx" onchange="angular.element(this).scope().fileChanged(this.files);" required="true">
            <button class="btn btn-primary" type="botton" ng-click="enviar()" >Enviar</button>
        </div>

        <div class="modal-body">
            <table datatable="ng" class="table-condensed">
                <thead ng-show="cabeceraInicial">
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha</th>
                        <th >Hora</th>
                    </tr>

                <tbody ng-show="cabeceraInicial">
                    <tr  ng-repeat="datosarchivo in datos track by $index"  class="cursorPointer">
                        <td>{{ datosarchivo.Codigo}}</td>
                        <td>{{ datosarchivo.Fecha}}</td>
                        <td>{{ datosarchivo.Hora}}</td>
                    </tr>
                </tbody>

                <thead ng-show="cabeceraFinal">

                <div class="row">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label><u>E</u>mpleado</label>
                            <div class="input-group input-group-sm">
                                <select class="form-control" ng-model="employeeFile" tabindex="30" required name="employeeFile" id="employeeFile" ng-change="serachEmploye()"  ng-options="employe as employe.names for employe in employeesFile " >
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label><u>D</u>escuentos</label>
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control text-right" placeholder="" ng-model="descuento" required
                                       money>
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
                <tr>
                    <th>Fecha</th>
                    <th ng-repeat="colconfiguracion in configuracion track by $index"  class="cursorPointer">
                        {{ colconfiguracion.hour}} - {{ colconfiguracion.type}}
                    </th>
                </tr>
                </thead>
                <tbody ng-show="cabeceraFinal">

                    <tr  ng-repeat="datosarchivo in DateFile track by $index"  class="cursorPointer">


                            <td>{{ datosarchivo[0].Fecha }} </td>

                            <td ng-repeat="colconfiguracion in configuracion "  class="cursorPointer" >

                                <div ng-repeat="col in datosarchivo[0].Columns" style="background: {{col.register.color}}; color: darkblue">

                                    <div ng-if=" col.hour == colconfiguracion.hour "  >
                                        {{col.register.hora}} {{col.register.color}}
                                    </div>
                                </div>

                            </td>
                    </tr>
                </tbody>
            </table>
        </div>

</div>
