<div ng-controller="MassiveArrearsLoadCtrl">

        <fieldset>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group"><label class="control-label"><u>M</u>es</label>
                        <div class="input-group input-group-sm">
                            <select class="form-control" placeholder="" ng-model="monthSearch" ng-required="true" id="monthSearch" name="monthSearch"
                                    ng-change="searchMonth()" tabindex="1">
                                <option value=""></option>
                                <option value="January">Enero</option>
                                <option value="February">Febrero</option>
                                <option value="March">Marzo</option>
                                <option value="April">Abril</option>
                                <option value="May">Mayo</option>
                                <option value="June">Junio</option>
                                <option value="July">Julio</option>
                                <option value="August">Agosto</option>
                                <option value="September">Septiembre</option>
                                <option value="October">Octubre</option>
                                <option value="November">Noviembre</option>
                                <option value="December">Diciembre</option>
                            </select>
                            <span class="input-group-addon"><i class="fa fa-building"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4"><label class="control-label"></label>
                    <div style="position:relative;">
                        <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Examinar...
                                <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' fileread="archivo" name="excel_file" accept=".xlsx" required="true" >
                            </span>
                        </span>
                            <input type="text" class="form-control" ng-model="namefile" id="upload-file-info" readonly>
                        </div>
                    <span class="help-block">
                        Seleccione un archivo
                    </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4"><label class="control-label"></label>
                    <div class="form-group">
                        <button class="btn" type="botton" ng-click="fileChanged()" >Analizar Archivo</button>
                        <button class="btn btn-primary" type="botton" ng-click="send()" ng-disabled="procesar" disabled="disabled">Procesar</button>
                    </div>
                </div>

            </div>

             <div class="row">
                 <div ng-show="endheader" class="col-lg-4 col-md-4">
                     <div class="form-group">
                         <label><u>E</u>mpleado</label>
                         <div class="input-group input-group-sm">
                             <select  class="form-control"  ng-model="employeeFile" tabindex="2" required name="employeeFile" id="employeeFile" ng-change="serachEmploye()"  ng-options="employe as employe.names for employe in employeesFile " >
                                 <option value=""></option>
                             </select>
                         </div>
                     </div>
                 </div>

                 <div ng-show="endheader" class="col-lg-4 col-md-4">
                     <div class="form-group">
                         <label><u>D</u>escuentos</label>
                         <div class="input-group input-group-sm">
                             <input type="text" class="form-control text-right" ng-model="descuento" ng-change="updateEmployeeDiscount()" required   ui-money-mask>
                             <span class="input-group-addon"><i class="fa fa-money"></i></span>
                         </div>
                     </div>
                 </div>
         </div>



        </fieldset>

        <div >
            <table datatable="ng" class="table table-condensed">
                <thead ng-show="initialheader">
                    <tr>
                        <th>Codigo</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                    </tr>
                <tbody ng-show="initialheader">
                    <tr  ng-repeat="datosarchivo in datafile track by $index"  class="cursorPointer">
                        <td>{{ datosarchivo.Codigo}}</td>
                        <td>{{ datosarchivo.Fecha}}</td>
                        <td>{{ datosarchivo.Hora}}</td>
                    </tr>
                </tbody>

                <thead ng-show="endheader">
                <tr>
                    <th>Fecha</th>
                    <th ng-repeat="colconfiguration in configuration track by $index"  class="cursorPointer">
                        {{ colconfiguration.hourBell}} - {{ typeBells(colconfiguration.typeBell)}}

                    </th>
                </tr>
                </thead>
                <tbody ng-show="endheader">

                    <tr  ng-repeat="datosarchivo in data  track by $index"  class="cursorPointer">

                            <td>{{ datosarchivo.Fecha }}</td>

                          <td ng-repeat="colarray in datosarchivo.Columnas  track by $index"  style="background: {{colarray.Color}}; color: darkblue" >
                              {{colarray.Hora}}
                          </td>
                    </tr>
                </tbody>
                <tr>
                    <th>Total</th>
                    <th ng-repeat="totalArr in total track by $index"  class="cursorPointer">
                        {{ totalArr.Total}} {{totalArr.Tiempo}}

                    </th>
                </tr>
            </table>
        </div>
        <div class="col-md-1">
            <div class="form-group" >
                <label class="control-label"></label>
                <div class="input-group input-group-sm">
                    <button class="btn btn-primary" ng-if="data.length>0" type="botton" ng-click="save()">Guardar</button>
                </div>
            </div>
        </div>
</div>
