

<fieldset>
  <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group" >
              <label class="control-label"><u>M</u>es</label>
              <div class="input-group input-group-sm">
                  <select class="form-control" placeholder="" ng-model="massiveArrears.month" ng-required="true" id="month" name="month"
                          ng-change="searchMes()" tabindex="21">
                      <option value=""></option>
                      <option value="January">Enero</option>
                      <option value="February">Febrero</option>
                      <option value="March">Marzo</option>
                      <option value="April">Abril</option>
                      <option value="May">Mayo</option>
                      <option value="June">Junio</option>
                      <option value="July">Julio</option>
                      <option value="August">Agosto</option>
                      <option value="September">Septiembre</option>
                      <option value="October">Octubre</option>
                      <option value="November">Noviembre</option>
                      <option value="December">Diciembre</option>
                  </select>
                  <span class="input-group-addon"><i class="fa fa-building"></i></span>
              </div>
          </div>
        </div>
    <div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" >
            <div class="form-group" ng-controller="MassiveArrearsLoadCtrl">
                <input type="file" name="myFile" image-with-preview ng-model="massiveArrears.myFile" accept="file/xls,file/xlsx" >
                {{ massiveArrears.prueba.datos }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" >
           <button class="btn btn-primary" type="botton" ng-click="openFile()" ng-controller="MassiveArrearsLoadCtrl">Subir</button>
        </div>
    </div>
</fieldset>

