<ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Recursos Humanos</a></li>
    <li><a href="javascript:;">Configuraci&oacute;n de Timbrado</a></li>
</ol>
<h1 class="page-header">Configuraci&oacute;n de Timbrado</h1>

<div class="panel panel-inverse animated fadeInRight" data-sortable-id="form-plugins-9">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
        </div>
        <h4 class="panel-title">Configuraci&oacute;n de Timbrado</h4>
    </div>
    <div class="panel-body" ng-controller="BellCtrl">
        <form ng-submit="save()" name="timbradoSelectionForm" >
            <fieldset>
                <div class="row" ng-repeat="(index, bell) in bells">

                    <div class="col-md-1">
                        <div class="form-group" >
                            <label class="control-label"></label>
                            <div class="input-group input-group-sm">
                                <button class="btn btn-primary" type="botton" ng-click="addBell()">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : bell.countBell.$required}">
                            <label class="control-label"><u>C</u>ontador </label>
                            <div class="input-group input-group-sm">
                                <input type="text" number ng-model="bell.countBell" required class="form-control">
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span></div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : bell.hourBell.$error.time}">
                            <label class="control-label"><u>H</u>ora</label>
                            <div class="input-group input-group-sm">
                                <input type="time" ng-model="bell.hourBell" placeholder="HH:mm:ss" min="01:00:00" max="23:59:00" class="form-control" required>
                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                            </div>
                            <!--<p ng-show="bell.hourBell.$error.time && bell.$submitted" class="help-block">Hora no valida</p>-->
                            <p ng-show="bell.hourBell.$error.required" class="help-block">Campo Obligatorio</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : bell.typeBell.$required}">
                            <label class="control-label"><u>T</u>ipo</label>
                            <div class="input-group input-group-sm">
                                <select class="form-control" ng-model="bell.typeBell" required placeholder="Seleccione..." >
                                    <option value="in">Entrada</option>
                                    <option value="out">Salida</option>
                                </select>
                                <span class="input-group-addon"><i class="fa fa-list"></i></span>
                            </div>
                            <p ng-show="bell.typeBell.$required" class="help-block">Campo Obligatorio</p>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="form-group" >
                            <label class="control-label"></label>
                            <div class="input-group input-group-sm">
                                <button type="button" class="btn btn-default btn-sm" ng-click="deleteBell(index, bell)" ng-disabled="isDisabled"><span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br/>
            <div class="btn-group">
                <input type="submit" class="btn btn-primary btn-sm" id="save" value="Guardar" ng-disabled="serverProcess" tabindex="100" />
            </div>
        </form>

    </div>
</div>
