

<fieldset>
  <div class="hr-line-dashed"></div>
  <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.department_id.$invalid && massiveBonusForm.$submitted}">
              <label class="control-label"><u>D</u>epartamento</label>
              <div class="input-group input-group-sm">
                  <select class="form-control" ng-options="department._id as department.name for department in departments" ng-disabled="isUpdate"
                          ng-model="massiveBonus.department_id"  ng-required="true" name="department_id" id="department_id" tabindex="32" >
                      <option value=""></option>
                  </select>
                  <span class="input-group-addon"><i class="fa fa-building"></i></span>
              </div>
          </div>
      </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" >
        <button class="btn btn-primary" type="botton" ng-click="openEmployeModal()" ng-controller="EmployeSelectionCtrl">Ver Empleados</button>
    </div>
  <div>
</fieldset> 

  
<br/>
<fieldset>
  <div class="hr-line-dashed"></div>
  <div class="row">


    <div class="col-md-1">
        <div class="form-group" >
            <label class="control-label"></label>
            <div class="input-group input-group-sm">
                <button class="btn btn-primary" type="botton">+</button>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.paymentMethod.$invalid && massiveBonusForm.$submitted}">
        <label class="control-label"><u>T</u>ipo</label>
        <div class="input-group input-group-sm">
          <select class="form-control" placeholder="" ng-model="massiveBonus.typeBonus" ng-required="true" id="typeBonus" name="typeBonus"
                  ng-change="cleanTypeBonus()" tabindex="21">
            <option value="bonus">Bono</option>
            <option value="discounts">Descuento</option>
          </select>
          <span class="input-group-addon"><i class="fa fa-list"></i></span>
        </div>
          <p ng-show="massiveBonusForm.typeBonus.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
      </div>
    </div>

  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.nameType.$invalid && massiveBonusForm.$submitted}">
          <label class="control-label"><u>N</u>ombre</label>
          <div class="input-group input-group-sm">
              <select class="form-control" placeholder="" ng-model="massiveBonus.nameType" ng-required="true" id="nameType" name="nameType"
                      ng-change="cleanNameType()" tabindex="21">
                  <option value="1">Bono por Hijo</option>
                  <option value="2">Bono por Produccion</option>
              </select>
              <span class="input-group-addon"><i class="fa fa-list"></i></span>
          </div>
          <p ng-show="massiveBonusForm.nameType.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
      </div>
  </div>

  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.frequencyBonus.$invalid && massiveBonusForm.$submitted}">
          <label class="control-label"><u>F</u>recuencia</label>
          <div class="input-group input-group-sm">
              <select class="form-control" placeholder="" ng-model="massiveBonus.frequencyBonus" ng-required="true" id="frequencyBonus" name="frequencyBonus"
                      ng-change="cleanFrequencyBonus()" tabindex="21">
                  <option value="monthly">Mensual</option>
                  <option value="once">Este Mes</option>
              </select>
              <span class="input-group-addon"><i class="fa fa-list"></i></span>
          </div>
          <p ng-show="massiveBonusForm.typeBonus.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
      </div>
  </div>

  </div>
</fieldset>
<br/>
