

<fieldset>
  <div class="hr-line-dashed"></div>
  <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="form-group" >
              <label class="control-label"><u>D</u>epartamento</label>
              <div class="input-group input-group-sm">
                  <select class="form-control" ng-options="department._id as department.name for department in departments" ng-disabled="isUpdate" ng-model="massiveBonus.department_id"  name="department_id" id="department_id" tabindex="32" >
                      <option value=""></option>
                  </select>
                  <span class="input-group-addon"><i class="fa fa-building"></i></span>
              </div>
          </div>
      </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" >
        <button class="btn btn-primary" type="botton" ng-click="openEmployeModal()" ng-controller="EmployeSelectionCtrl">Ver Empleados</button>
        <label class="control-label">
            <u>C</u>antidad de Empleados: {{  employeSelections.length }}
        </label>
    </div>
  <div>
</fieldset> 

  
<br/>
<fieldset>
  <div class="hr-line-dashed"></div>


  <div class="row" >


      <div class="col-md-1">
          <div class="form-group" >
              <label class="control-label"></label>
              <div class="input-group input-group-sm">
                  <button class="btn btn-primary" type="botton" ng-click="addBonusDiscount()">+</button>
              </div>
          </div>
      </div>


    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.paymentMethod.$invalid && massiveBonusForm.$submitted}">
        <label class="control-label"><u>T</u>ipo</label>
        <div class="input-group input-group-sm">
          <select class="form-control" placeholder="" ng-model="massiveBonus.typeBonus[0]" ng-required="true" id="typeBonus[0]" name="typeBonus[0]" ng-change="searchTypeBonus(0)" tabindex="21">
            <option value=""></option>
            <option value="bonus">Bono</option>
            <option value="discounts">Descuento</option>
          </select>
          <span class="input-group-addon"><i class="fa fa-list"></i></span>
        </div>
          <p ng-show="massiveBonusForm.typeBonus.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.nameType.$invalid && massiveBonusForm.$submitted}">
          <label class="control-label"><u>N</u>ombre</label>
          <div class="input-group input-group-sm">
              <select class="form-control" ng-model="massiveBonus.type[0]" tabindex="30" required
                      name="bonus[0]" id="bonus[0]" ng-options="bonu as bonu.name for bonu in type[0] ">
                  <option value=""></option>
              </select>
              <span class="input-group-addon"><i class="fa fa-list"></i></span>
          </div>
          <p ng-show="massiveBonusForm.nameType.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.frequencyBonus.$invalid && massiveBonusForm.$submitted}">
          <label class="control-label"><u>F</u>recuencia</label>
          <div class="input-group input-group-sm">
              <select class="form-control" placeholder="" ng-model="massiveBonus.frequencyBonus[0]" required id="frequencyBonus[0]" name="frequencyBonus[0]"
                      ng-change="cleanFrequencyBonus()" tabindex="21">
                  <option value=""></option>
                  <option value="monthly">Mensual</option>
                  <option value="once">Este Mes</option>
              </select>
              <span class="input-group-addon"><i class="fa fa-list"></i></span>
          </div>
          <p ng-show="massiveBonusForm.frequencyBonus.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
      </div>
    </div>

  </div>

  <div class="row" ng-repeat="bonusdiscount in bonusdiscounts track by $index">

      <div class="col-md-1">
          <div class="form-group" >
              <label class="control-label"></label>
              <div class="input-group input-group-sm">
                  <button class="btn btn-primary" type="botton" ng-click="addBonusDiscount()">+</button>
              </div>
          </div>
      </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.paymentMethod.$invalid && massiveBonusForm.$submitted}">
                <label class="control-label"><u>T</u>ipo</label>
                <div class="input-group input-group-sm">
                    <select class="form-control" placeholder="" ng-model="massiveBonus.typeBonus[$index+1]" required id="typeBonus[{{$index+1}}]" name="typeBonus[{{$index+1}}]"
                            ng-change="searchTypeBonus($index+1)" tabindex="21" ng-value="{{ $index+1 }}" >
                        <option value=""></option>
                        <option value="bonus">Bono</option>
                        <option value="discounts">Descuento</option>
                    </select>
                    <span class="input-group-addon"><i class="fa fa-list"></i></span>
                </div>
                <p ng-show="massiveBonusForm.typeBonus.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.nameType.$invalid && massiveBonusForm.$submitted}">
                <label class="control-label"><u>N</u>ombre</label>
                <div class="input-group input-group-sm">
                    <select class="form-control" ng-model="massiveBonus.type[$index+1]" tabindex="30" required
                            name="bonus[{{$index+1}}]" id="bonus[{{$index+1}}]" ng-change="valtype($index+1)"  ng-options="bonu as bonu.name for bonu in type[$index+1] ">
                        <option value=""></option>
                    </select>
                    <span class="input-group-addon"><i class="fa fa-list"></i></span>
                </div>
                <p ng-show="massiveBonusForm.nameType.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group" ng-class="{ 'has-error' : massiveBonusForm.frequencyBonus.$invalid && massiveBonusForm.$submitted}">
                <label class="control-label"><u>F</u>recuencia</label>
                <div class="input-group input-group-sm">
                    <select class="form-control" placeholder="" ng-model="massiveBonus.frequencyBonus[$index+1]" required id="frequencyBonus[{{$index+1}}]" name="frequencyBonus[{{$index+1}}]"
                            ng-change="cleanFrequencyBonus()" tabindex="21">
                        <option value=""></option>
                        <option value="monthly">Mensual</option>
                        <option value="once">Este Mes</option>
                    </select>
                    <span class="input-group-addon"><i class="fa fa-list"></i></span>
                </div>
                <p ng-show="massiveBonusForm.frequencyBonus.$invalid && massiveBonusForm.$submitted" class="help-block">Campo Obligatorio</p>
            </div>
        </div>


        <div class="col-md-1">
          <div class="form-group" >
              <label class="control-label"></label>
              <div class="input-group input-group-sm">
                  <button type="button" class="btn btn-default btn-sm" id="deleteBoDi" ng-click="deleteBonusDiscount($index)" ng-disabled="isDisabled"><span class="glyphicon glyphicon-minus"></span>
                  </button>
              </div>
          </div>
        </div>


  </div>

</fieldset>
<br/>
