<ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Recursos Humanos</a></li>
  <li><a href="javascript:;">Carga Masiva de Bonos y Descuentos</a></li>
</ol>
<h1 class="page-header">Carga Masiva de Bonos y Descuentos</h1>

<div class="panel panel-inverse animated fadeInRight" data-sortable-id="form-plugins-9">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
      <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
    </div>
    <h4 class="panel-title">Carga Masiva de Bonos y Descuentos</h4>
  </div>
  <div class="panel-body">
    <form  name="massiveBonusForm">
      <div ng-include="'views/humanResources/massiveBonusDiscountLoad/massiveBonusForm.html'" scope="" onload=""></div>
      <div class="btn-group">
        <input type="submit" class="btn btn-primary btn-sm" id="save" value="Guardar" ng-disabled="serverProcess" tabindex="34" />
      </div>
    </form>
  </div>
</div>  