<ol class="breadcrumb pull-right">
  <li><a href="javascript:;">Recursos Humanos</a></li>
  <li><a href="javascript:;">Departamentos</a></li>
</ol>
<h1 class="page-header">Departamentos</h1>

<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
  <div class="panel panel-inverse animated fadeInRight" data-sortable-id="form-plugins-9">
    <div class="panel-heading">
      <div class="panel-heading-btn">
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
      </div>
      <h4 class="panel-title">Nuevo Departamento</h4>
    </div>
    <div class="panel-body">
        <form ng-submit="save(departmentForm.$valid)" novalidate="novalidate" name="departmentForm">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="form-group" ng-class="{ 'has-error' : departmentForm.code.$invalid && departmentForm.$submitted}">
              <label class="control-label"><u>C</u>&oacute;digo</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="department.code" ng-required="true" tabindex="1"
                       name="code" id="code">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
              </div>
                  <p ng-show="departmentForm.code.$invalid && departmentForm.$submitted" class="help-block">Campo Obligatorio</p>
            </div>  
          </div>

          <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="form-group" ng-class="{ 'has-error' : departmentForm.name.$invalid && departmentForm.$submitted}">
              <label class="control-label"><u>N</u>ombre</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="department.name" ng-required="true" tabindex="2"
                       name="name" id="name">
                <span class="input-group-addon"><i class="fa fa-building"></i></span>
              </div>
                  <p ng-show="departmentForm.name.$invalid && departmentForm.$submitted" class="help-block">Campo Obligatorio</p>
            </div>  
          </div>

          <div class="col-lg-12 col-md-12 col-xs-12">
              <div class="form-group">
              <label class="control-label">Descripci&oacute;n</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="department.description" tabindex="3" name="description" id="description">
                <span class="input-group-addon"><i class="fa fa-list"></i></span>
              </div>
            </div>  
          </div>

        </div>

        <div class="row">
          <div class="col-lg-12">
            <input type="submit" class="btn btn-primary btn-sm" value="Guardar" id="save" ng-disabled="serverProcess" tabindex="4" ng-show="!isUpdate"/>
            <input type="submit" class="btn btn-primary btn-sm" value="Actualizar" id="update" ng-disabled="serverProcess" tabindex="5" ng-show="isUpdate"/>
            <input type="reset" class="btn btn-white btn-sm" value="Limpiar" id="clean" ng-disabled="serverProcess" tabindex="6" ng-click="clean()"/>
            <input type="button" class="btn btn-danger btn-sm pull-right"  id="delete" value="Eliminar" ng-click="delete()" ng-if="isUpdate"/>
          </div> 
        </div>

      </form>
    </div> 
  </div>
</div>   

<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
    <div class="panel panel-inverse animated fadeInRight {{panelExpand}}" data-sortable-id="form-plugins-9">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <button ng-click="maximize()" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-expand"></i></button>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            </div>
            <h4 class="panel-title">Resumen de Departamentos</h4>
        </div>
        <div class="panel-body">
            <table datatable dt-options="dtOptions" dt-columns="tableColumns" dt-instance="getTableInstance" class="row-border hover"></table>
        </div>
    </div>
</div>

