<div class="inmodal">
  <div class="modal-header">
    <h3 class="modal-title">M&eacute;todo de Pago</h3>
  </div>
  <div class="modal-body">
    <tabset>

    <tab heading="Cheque">
      <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><u>N</u>ombre Banco</label>
              <div class="input-group input-group-sm">
                <select class="form-control" ng-options="bank._id as bank.name for bank in banks" tabindex="1"
                ng-model="paymentMethod.cheque.bank" required>
                <option value="" disabled selected></option>                      
                </select>
                <span class="input-group-addon"><i class="fa fa-university"></i></span>
              </div>
            </div>
          </div>


          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><u>N</u>&uacute;mero Cheque</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="paymentMethod.cheque.number"
                required tabindex="3" id="number" number/>
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3">
            <div class="form-group">
              <label><u>M</u>onto</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control text-right" ng-model="paymentMethod.cheque.amount"
                required tabindex="3" id="number" money ng-change="sumSelectedTotal()" />
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
              </div>
            </div>
          </div>


      </div>
    </tab>

    <tab heading="Transferencia Bancaria">
      <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><u>N</u>ombre Banco</label>
              <div class="input-group input-group-sm">
                <select class="form-control" ng-options="bank._id as bank.name for bank in banks" tabindex="1"
                ng-model="paymentMethod.bankTransfer.bank" required>
                <option value="" disabled selected></option>                      
                </select>
                <span class="input-group-addon"><i class="fa fa-university"></i></span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><u>F</u>echa de Transferencia</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control inputborderless" ng-model="paymentMethod.bankTransfer.date"
                required tabindex="3" id="number" text ng-datepicker ng-options="datepickerOptions">
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
              </div>
            </div>
          </div>


          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label><u>R</u>eferencia</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="paymentMethod.bankTransfer.reference"
                required tabindex="3" id="number" text-number>
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3">
            <div class="form-group">
              <label><u>M</u>onto</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control text-right" ng-model="paymentMethod.bankTransfer.amount"
                required tabindex="3" id="number" money ng-change="sumSelectedTotal()"/>
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
              </div>
            </div>
          </div>

      </div>
    </tab>

    <tab heading="Tarjeta de crédito">
      <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><u>N</u>ombre Banco</label>
              <div class="input-group input-group-sm">
                <select class="form-control" ng-options="bank._id as bank.name for bank in banks" tabindex="1"
                ng-model="paymentMethod.creditCard.bank" required>
                <option value="" disabled selected></option>                      
                </select>
                <span class="input-group-addon"><i class="fa fa-university"></i></span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><u>N</u>ombre Tarjeta Cr&eacute;dito</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="paymentMethod.creditCard.name"
                required tabindex="3" id="number" text/>
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><u>N</u>&uacute;mero Tarjeta Cr&eacute;dito</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" ng-model="paymentMethod.creditCard.number"
                required tabindex="3" id="number" number/>
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <label><u>F</u>echa de Vencimiento</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control inputborderless" ng-model="paymentMethod.creditCard.expireDate"
                required tabindex="3" id="number" text ng-datepicker ng-options="datepickerOptions"/>
                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3">
            <div class="form-group">
              <label><u>M</u>onto</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control text-right" ng-model="paymentMethod.creditCard.amount"
                required tabindex="3" id="number" money ng-change="sumSelectedTotal()"/>
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
              </div>
            </div>
          </div>

      </div>
    </tab>

    <tab heading="Efectivo">
      <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3">
            <div class="form-group">
              <label><u>M</u>onto</label>
              <div class="input-group input-group-sm">
                <input type="text" class="form-control text-right" ng-model="paymentMethod.cash.amount"
                required tabindex="3" id="number" money ng-keypress="sumSelectedTotal()"/>
                <span class="input-group-addon"><i class="fa fa-money"></i></span>
              </div>
            </div>
          </div>

      </div>
    </tab>

    </tabset>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pull-right">
        <table class="table table-bordered table-condensed" id="totales">
          <tbody>
            <tr>
              <td align="right" width="250px"><strong>TOTAL SELECCIONADO</strong></td>
              <td align="right" width="250px"><strong>{{paymentMethod.selectedTotal | currency}}</strong></td>
            </tr>
            <tr>
              <td align="right" width="250px"><strong>TOTAL A COBRAR</strong></td>
              <td align="right" width="250px"><strong>{{paymentMethod.collectTotal | currency}}</strong></td>
            </tr>
            <tr>
              <td align="right" width="250px"><strong>PENDIENTE</strong></td>
              <td align="right" width="250px"><strong>{{paymentMethod.pendingTotal | currency}}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
     </div> 
  </div>
  <div class="modal-footer">
  	<div class="btn-group pull-left">
  	</div>
      <button class="btn btn-default btn-sm" ng-click="save()">Crear</button>
      <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancelar</button>
  </div>
</div>
